/* MIXINS */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: 'Kankin';
  src: url('../fonts/Kankin.eot');
  src: url('../fonts/Kankin.eot?#iefix') format('embedded-opentype'), url('../fonts/Kankin.woff') format('woff'), url('../fonts/Kankin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.kankin {
  font-family: 'Kankin';
}
.gradient-top-bottom {
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
}
.button-wrapper {
  width: 190px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: block;
  background: #338cac;
  /* Old browsers */
  background: -moz-linear-gradient(left, #338cac 0%, #04557a 47%, #338cac 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #338cac 0%, #04557a 47%, #338cac 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #338cac 0%, #04557a 47%, #338cac 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#338cac', endColorstr='#338cac', GradientType=1);
  background-size: 200%;
  background-position: center right;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 20px;
  white-space: nowrap;
}
.button-wrapper span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: #fff;
}
.button-wrapper:hover {
  background-position: center left;
}
.button-centered .button-wrapper {
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: #636363;
}
h2.section-name {
  font-weight: 900;
  display: inline;
  text-transform: uppercase;
  white-space: nowrap;
}
h2.section-name:before {
  content: attr(data-text);
  display: inline;
  color: #636363;
  top: 50%;
  left: 10%;
  position: absolute;
  opacity: 0.1;
  font-size: 2em;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media screen and (max-width: 768px) {
  h2.section-name:before {
    display: none;
  }
}
.navbar {
  height: 80px;
  margin: 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  .navbar {
    height: 100px;
  }
}
@media screen and (width: 768px) {
  .navbar .container-fluid {
    margin: 0;
    padding: 0;
  }
}
.navbar .container-fluid .navbar-header {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar .container-fluid .navbar-header {
    height: 100px;
    float: left;
    padding: 0 15px;
    margin: 0 !important;
  }
}
.navbar .container-fluid .navbar-header .navbar-brand {
  position: relative;
  z-index: 22;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-header .navbar-brand {
    float: none !important;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .navbar .container-fluid .navbar-header .navbar-brand {
    margin-left: -10%;
  }
}
@media (max-width: 1300px) {
  .navbar .container-fluid .navbar-header .navbar-brand {
    padding: 25px 0;
  }
}
@media screen and (width: 1024px) {
  .navbar .container-fluid .navbar-header .navbar-brand {
    margin-left: -60px;
  }
}
.navbar .container-fluid .navbar-header .navbar-brand img {
  height: 60px;
  width: auto;
}
@media screen and (max-width: 1280px) {
  .navbar .container-fluid .navbar-header .navbar-brand img {
    height: 45px;
    width: auto;
  }
}
.navbar .container-fluid .navbar-header .navbar-toggle {
  position: absolute;
  top: 60px;
  right: 10px;
  margin: 0;
  border: none;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-header .navbar-toggle {
    top: 30px;
    display: block;
  }
}
.navbar .container-fluid .navbar-header .navbar-toggle:hover,
.navbar .container-fluid .navbar-header .navbar-toggle:active,
.navbar .container-fluid .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar {
  background: #005076;
  transition: all 0.2s;
  cursor: pointer;
}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar.top-bar {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar.middle-bar {
  opacity: 1;
}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar.bottom-bar {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.navbar .container-fluid .navbar-header .navbar-toggle.indexcity .icon-bar.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 90%;
}
.navbar .container-fluid .navbar-header .navbar-toggle.indexcity .icon-bar.middle-bar {
  opacity: 0;
}
.navbar .container-fluid .navbar-header .navbar-toggle.indexcity .icon-bar.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
.navbar .container-fluid .navbar-collapse {
  max-height: none !important;
}
.navbar .container-fluid .navbar-collapse .navbar-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
    margin: 0;
    text-align: left;
    transform: translate(0);
  }
}
@media screen and (width: 800px) {
  .navbar .container-fluid .navbar-collapse .navbar-center {
    font-size: 12px;
  }
}
@media screen and (width: 1024px) {
  .navbar .container-fluid .navbar-collapse .navbar-center {
    font-size: 11px;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li {
  float: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 0px;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li {
    width: 100%;
    padding: 16px 0;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 15px;
  width: 0;
  height: 2px;
  display: block;
  background-color: #005076;
  transition: .3s;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.active a {
  background: transparent;
  color: #005076;
  font-weight: 700;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.active a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  display: block;
  background-color: #005076;
  transition: .3s;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li.active a:after {
    width: 0;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown {
  border: 1px solid #005076;
  border-radius: 1em;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown.active a:after {
  display: none;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown:after {
  display: none;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown:hover,
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown:active,
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown:focus {
  background-color: transparent;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu {
  margin-top: 10px;
  border: 1px solid #005076;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu {
    border: none;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu a {
  font-weight: normal;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu a span {
  font-weight: bold;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu a:hover {
  background-color: transparent;
  color: #005076;
}
.navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown {
    border: none;
  }
  .navbar .container-fluid .navbar-collapse .navbar-center > li.dropdown .dropdown-menu {
    text-align: right;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li > a {
  padding: 0 15px;
  color: #000;
}
@media screen and (max-width: 992px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li > a {
    padding: 0 12px;
  }
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-center > li > a {
    font-size: 16px;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-center > li > a:hover,
.navbar .container-fluid .navbar-collapse .navbar-center > li > a:focus {
  background: transparent;
  color: #005076;
  border-radius: 2em;
}
.navbar .container-fluid .navbar-collapse .navbar-right {
  position: absolute;
  display: inline;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
  text-align: center;
  border: 1px solid #005076;
  border-radius: 1em;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-right {
    border: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
    margin: 0;
    text-align: center;
    transform: translate(0);
  }
}
.navbar .container-fluid .navbar-collapse .navbar-right > li {
  margin: 0 0;
  text-transform: uppercase;
  padding: 2px 0px;
}
@media screen and (max-width: 767px) {
  .navbar .container-fluid .navbar-collapse .navbar-right > li {
    padding: 0;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-right > li.active a {
  font-weight: 700;
}
.navbar .container-fluid .navbar-collapse .navbar-right > li:first-child a {
  padding: 0 4px 0 15px;
  border-right: 1px solid #005076;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-right > li:first-child a {
    padding: 0 16px;
    border-right: none;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-right > li:last-child a {
  padding: 0 15px 0 4px;
}
@media screen and (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-right > li:last-child a {
    padding: 0 16px;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-right > li a {
  color: #000;
}
@media (max-width: 1300px) {
  .navbar .container-fluid .navbar-collapse .navbar-right > li a {
    padding: 0 10px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .navbar .container-fluid .navbar-collapse .navbar-right > li a {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}
.navbar .container-fluid .navbar-collapse .navbar-right > li a:hover,
.navbar .container-fluid .navbar-collapse .navbar-right > li a:focus {
  background: transparent;
  color: #005076;
}
.indexcity {
  z-index: 99;
}
.navbar-collapse.right {
  transform: translate(0, 47px);
}
a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background-color: #fff;
    position: absolute;
    top: 54%;
    z-index: 10;
    transition: all 0.8s ease-out;
    height: 100vh;
    width: 90%;
    right: 0;
    transform: translate(100%, 47px);
  }
  .navbar-fixed-top .navbar-nav > li > a {
    color: #005076;
    text-align: right;
    padding: 20px 0 20px 25px;
    font-size: 1.5em;
  }
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}
.navbar .container-fluid .navbar-collapse .navbar-center li a,
.navbar .container-fluid .navbar-collapse .navbar-right li a {
  color: #005076 !important;
}
.icon-wrapper {
  display: inline-block;
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
  padding: 2px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.icon-wrapper .inside {
  padding: 2px 30px;
  display: inline-block;
  background: #fff;
  border-radius: 20px;
}
.icon-wrapper .inside img {
  height: 40px;
  width: auto;
}
.icon-wrapper.text-icon {
  clear: both;
  width: 100%;
  margin: 0 auto 30px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 767px) {
  .icon-wrapper.text-icon {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .icon-wrapper.text-icon {
    margin: 0 auto 15px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .icon-wrapper.text-icon {
    margin: 0 auto 20px;
  }
}
.icon-wrapper.text-icon .inside {
  width: 100%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.icon-wrapper.text-icon .inside:after {
  width: 100%;
  height: 100%;
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.icon-wrapper.text-icon .inside span {
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .icon-wrapper.text-icon .inside span {
    font-size: 11px;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .icon-wrapper.text-icon .inside span {
    font-size: 12px;
  }
}
.icon-wrapper.text-icon:hover .inside:after {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.icon-wrapper.text-icon:hover .inside span {
  color: #fff;
}
#top-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url('../img/quantron/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media screen and (max-width: 767px) {
  #top-container {
    height: auto;
    padding-top: 100px;
    background: none;
  }
}
@media screen and (max-width: 1200px) {
  #top-container {
    height: auto;
    padding-top: 100px;
    background-position: bottom;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  #top-container {
    padding-top: 150px;
  }
}
#top-container .back {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}
#top-container .back.square-left {
  width: 65%;
  height: auto;
  -webkit-transform: translate(-40%, 30%);
  -moz-transform: translate(-40%, 30%);
  -ms-transform: translate(-40%, 30%);
  -o-transform: translate(-40%, 30%);
  transform: translate(-40%, 30%);
}
#top-container .back.square-right {
  width: 40%;
  height: auto;
  left: auto;
  right: 0;
  -webkit-transform: translate(45%, 30%);
  -moz-transform: translate(45%, 30%);
  -ms-transform: translate(45%, 30%);
  -o-transform: translate(45%, 30%);
  transform: translate(45%, 30%);
}
#top-container .back.robot {
  width: 30%;
  height: auto;
  left: 10%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#top-container #top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}
@media screen and (max-width: 767px) {
  #top-container #top-content {
    position: relative;
    padding-bottom: 200px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  #top-container #top-content {
    position: relative;
    padding-bottom: 300px;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#top-container #top-content h2 {
  font-size: 62px;
  color: #005076;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 767px) {
  #top-container #top-content h2 {
    font-size: 40px;
  }
}
#top-container #top-content h3 {
  font-size: 24px;
  color: #005076;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  #top-container #top-content h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
}
#top-container #top-content p {
  color: #636363;
  font-size: 22px;
  font-weight: 300;
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  #top-container #top-content p {
    font-size: 16px;
  }
}
#top-container #top-content #icon-container {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  #top-container #top-content #icon-container {
    margin-top: 20px;
  }
}
@media screen and (width: 1024px) and (height: 1366px) {
  #top-container #top-content #icon-container {
    width: 42%;
  }
}
#info-container {
  position: relative;
  margin-top: 80px;
  background: url('../img/quantron/background.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#info-container .info-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
#info-container .info-row .square-1 {
  position: absolute;
  width: 30%;
  height: auto;
  top: 25%;
  left: -25%;
}
@media screen and (max-width: 768px) {
  #info-container .info-row .square-1 {
    display: none;
  }
}
#info-container .info-row .square-2 {
  position: absolute;
  width: 15%;
  height: auto;
  top: 55%;
  right: -15%;
}
@media screen and (max-width: 768px) {
  #info-container .info-row .square-2 {
    display: none;
  }
}
#info-container .info-row .square-3 {
  position: absolute;
  width: 10%;
  height: auto;
  left: -10%;
}
@media screen and (max-width: 768px) {
  #info-container .info-row .square-3 {
    display: none;
  }
}
#info-container .info-row .image-container {
  position: relative;
}
#info-container .info-row .image-container:before {
  content: attr(data-text);
  position: absolute;
  color: #005076;
  display: block;
  top: -2%;
  left: 15%;
  font-size: 5em;
  font-weight: 700;
  font-family: 'Kankin';
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#info-container .info-row .image-container img {
  max-width: 100%;
  height: auto;
}
#info-container .info-row .text-container .info-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #005076;
  position: relative;
}
#info-container .info-row .text-container .info-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 1px;
  background: #005076;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  width: 0;
}
#info-container .info-row .text-container .info-paragraph {
  padding-bottom: 20px;
  padding-top: 20px;
}
#info-container .info-row.active .image-container:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#info-container .info-row.active .text-container .info-title:after {
  width: 80px;
}
#news-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
#news-container .news-images-wrapper {
  margin-top: 40px;
}
#news-container .news-images-wrapper .item-big,
#news-container .news-images-wrapper .item-small {
  border-radius: 15px;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#news-container .news-images-wrapper .item-big:before,
#news-container .news-images-wrapper .item-small:before {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  position: absolute;
  top: 0;
  left: 15px;
  background: #005076;
  opacity: 0.5;
  content: "";
  z-index: 2;
  border-radius: 20px;
}
#news-container .news-images-wrapper .item-big img,
#news-container .news-images-wrapper .item-small img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
#news-container .news-images-wrapper .item-big .news-content,
#news-container .news-images-wrapper .item-small .news-content {
  width: 100%;
}
#news-container .news-images-wrapper .item-big .news-content .top,
#news-container .news-images-wrapper .item-small .news-content .top {
  position: absolute;
  padding: 0 30px;
  top: 5%;
  z-index: 3;
  color: #fff;
  width: 95%;
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  -o-transform: translate(0, -100px);
  transform: translate(0, -100px);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
#news-container .news-images-wrapper .item-big .news-content .top .date,
#news-container .news-images-wrapper .item-small .news-content .top .date {
  float: left;
  color: #fff;
}
#news-container .news-images-wrapper .item-big .news-content .top .share-icon,
#news-container .news-images-wrapper .item-small .news-content .top .share-icon {
  font-size: 28px;
  float: right;
  color: #fff;
}
#news-container .news-images-wrapper .item-big .news-content .bottom,
#news-container .news-images-wrapper .item-small .news-content .bottom {
  position: absolute;
  padding: 0 30px;
  bottom: 10%;
  z-index: 3;
  -webkit-transform: translate(0, 250px);
  -moz-transform: translate(0, 250px);
  -ms-transform: translate(0, 250px);
  -o-transform: translate(0, 250px);
  transform: translate(0, 250px);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
#news-container .news-images-wrapper .item-big .news-content .bottom .text,
#news-container .news-images-wrapper .item-small .news-content .bottom .text {
  width: 75%;
  z-index: 3;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #news-container .news-images-wrapper .item-big .news-content .bottom .text,
  #news-container .news-images-wrapper .item-small .news-content .bottom .text {
    width: 95%;
  }
}
#news-container .news-images-wrapper .item-big .news-content .bottom .text .text-title,
#news-container .news-images-wrapper .item-small .news-content .bottom .text .text-title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #news-container .news-images-wrapper .item-big .news-content .bottom .text .text-title,
  #news-container .news-images-wrapper .item-small .news-content .bottom .text .text-title {
    padding-bottom: 0;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content .bottom .text .text-title,
  #news-container .news-images-wrapper .item-small .news-content .bottom .text .text-title {
    padding-bottom: 0;
  }
}
#news-container .news-images-wrapper .item-big .news-content .bottom .text .text-paragraph,
#news-container .news-images-wrapper .item-small .news-content .bottom .text .text-paragraph {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #news-container .news-images-wrapper .item-big .news-content .bottom .text .text-paragraph,
  #news-container .news-images-wrapper .item-small .news-content .bottom .text .text-paragraph {
    line-height: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content .bottom .text .text-paragraph,
  #news-container .news-images-wrapper .item-small .news-content .bottom .text .text-paragraph {
    line-height: 20px;
  }
}
#news-container .news-images-wrapper .item-big .news-content .bottom .hyperlink-wrapper,
#news-container .news-images-wrapper .item-small .news-content .bottom .hyperlink-wrapper {
  z-index: 3;
  float: right;
}
#news-container .news-images-wrapper .item-big .news-content .bottom .hyperlink-wrapper .link,
#news-container .news-images-wrapper .item-small .news-content .bottom .hyperlink-wrapper .link {
  font-size: 1.8vh;
  color: #fff;
}
#news-container .news-images-wrapper .item-big .news-content .bottom .hyperlink-wrapper .link:hover,
#news-container .news-images-wrapper .item-small .news-content .bottom .hyperlink-wrapper .link:hover {
  text-decoration: underline;
}
#news-container .news-images-wrapper .item-big .news-content .bottom .hyperlink-wrapper .link p,
#news-container .news-images-wrapper .item-small .news-content .bottom .hyperlink-wrapper .link p {
  padding-right: 20px;
}
#news-container .news-images-wrapper .item-big .news-content.small .top,
#news-container .news-images-wrapper .item-small .news-content.small .top {
  padding: 0 30px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content.small .top,
  #news-container .news-images-wrapper .item-small .news-content.small .top {
    width: 90%;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1350px) {
  #news-container .news-images-wrapper .item-big .news-content.small .top,
  #news-container .news-images-wrapper .item-small .news-content.small .top {
    padding: 0 25px 0 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content.small .top .date,
  #news-container .news-images-wrapper .item-small .news-content.small .top .date {
    font-size: 10px;
  }
}
#news-container .news-images-wrapper .item-big .news-content.small .top .share-icon,
#news-container .news-images-wrapper .item-small .news-content.small .top .share-icon {
  font-size: 28px;
  float: right;
  color: #fff;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content.small .top .share-icon,
  #news-container .news-images-wrapper .item-small .news-content.small .top .share-icon {
    font-size: 18px;
  }
}
#news-container .news-images-wrapper .item-big .news-content.small .bottom,
#news-container .news-images-wrapper .item-small .news-content.small .bottom {
  padding: 0 30px;
}
@media screen and (min-width: 992px) and (max-width: 1350px) {
  #news-container .news-images-wrapper .item-big .news-content.small .bottom,
  #news-container .news-images-wrapper .item-small .news-content.small .bottom {
    padding: 0 20px;
    width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1350px) {
  #news-container .news-images-wrapper .item-big .news-content.small .bottom .text,
  #news-container .news-images-wrapper .item-small .news-content.small .bottom .text {
    width: 90%;
  }
}
#news-container .news-images-wrapper .item-big .news-content.small .bottom .text .text-title,
#news-container .news-images-wrapper .item-small .news-content.small .bottom .text .text-title {
  font-size: 16px;
  padding-bottom: 0;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content.small .bottom .text .text-title,
  #news-container .news-images-wrapper .item-small .news-content.small .bottom .text .text-title {
    font-size: 12px;
    margin-bottom: 0;
  }
}
#news-container .news-images-wrapper .item-big .news-content.small .bottom .text .text-paragraph,
#news-container .news-images-wrapper .item-small .news-content.small .bottom .text .text-paragraph {
  padding-top: 5px;
  padding-bottom: 20px;
  line-height: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #news-container .news-images-wrapper .item-big .news-content.small .bottom .text .text-paragraph,
  #news-container .news-images-wrapper .item-small .news-content.small .bottom .text .text-paragraph {
    font-size: 10px;
  }
}
#news-container .news-images-wrapper.active .item-big,
#news-container .news-images-wrapper.active .item-small {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#news-container .news-images-wrapper.active .item-big .top,
#news-container .news-images-wrapper.active .item-small .top {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#news-container .news-images-wrapper.active .item-big .bottom,
#news-container .news-images-wrapper.active .item-small .bottom {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#contact {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  #contact .contact-wrapper {
    margin-top: 40px;
  }
}
#contact .contact-wrapper .left {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#contact .contact-wrapper .left .contact-item-wrapper:before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  left: 90px;
  background-color: #636363;
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item {
  padding-left: 100px;
  background: url('../img/quantron/lokalizacja.svg') no-repeat left center;
  background-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
  #contact .contact-wrapper .left .contact-item-wrapper .contact-item {
    background-size: 40px;
  }
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item .contact-details {
  padding-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  #contact .contact-wrapper .left .contact-item-wrapper .contact-item .contact-details {
    font-size: 14px;
  }
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item .contact-details a {
  color: #005076;
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item .contact-details a:hover {
  text-decoration: underline;
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item.tel {
  background-image: url('../img/quantron/phone.svg');
}
#contact .contact-wrapper .left .contact-item-wrapper .contact-item.email {
  background-image: url('../img/quantron/mail.svg');
}
#contact .contact-wrapper .right {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#contact .contact-wrapper .right img {
  max-width: 100%;
  height: auto;
}
#footer {
  padding: 30px 0;
  background: #005076;
}
#footer p {
  color: silver;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}
#about {
  position: relative;
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  #about .head-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
#about .head-wrapper img {
  max-width: 100%;
  height: auto;
}
#about #quote-slider {
  margin-top: 10px;
}
#about #quote-slider:before,
#about #quote-slider:after {
  width: 100%;
  height: 50px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
#about #quote-slider:before {
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
#about #quote-slider:after {
  top: auto;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
#about #quote-slider .item {
  padding: 50px 30px;
  background: #fff;
}
#about #quote-slider .item h3 {
  position: relative;
  margin: 0 0 30px 0;
}
#about #quote-slider .item h3:before,
#about #quote-slider .item h3:after {
  content: '"';
  font-size: 60px;
  position: absolute;
  top: -20px;
  left: -20px;
  color: #005076;
}
#about #quote-slider .item h3:after {
  top: auto;
  left: auto;
  bottom: -50px;
  right: -20px;
}
#about #quote-slider .item p {
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  #about #quote-slider .item p {
    font-size: 14px;
  }
}
#about #quote-slider .item p.author {
  font-weight: bold;
  text-align: right;
  color: #005076;
  font-style: italic;
}
#about #quote-slider .owl-nav {
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 0;
  -webkit-transform: translate(-107px, -50%) rotate(90deg);
  -moz-transform: translate(-107px, -50%) rotate(90deg);
  -ms-transform: translate(-107px, -50%) rotate(90deg);
  -o-transform: translate(-107px, -50%) rotate(90deg);
  padding: 5px;
}
#about #quote-slider .owl-nav div {
  width: 50px;
  float: left;
  height: 20px;
  line-height: 20px;
}
#about #quote-slider .owl-nav div img {
  width: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  margin: 0 0 5px 0;
}
#about #quote-slider .owl-nav div.owl-next {
  float: right;
  text-align: right;
}
#about #quote-slider .owl-nav div.owl-next img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#about #quote-slider .owl-dots {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-75px, -50%) rotate(90deg);
  -moz-transform: translate(-75px, -50%) rotate(90deg);
  -ms-transform: translate(-75px, -50%) rotate(90deg);
  -o-transform: translate(-75px, -50%) rotate(90deg);
  z-index: 2;
}
#about #quote-slider .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  background: #fff;
  margin: 5px;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #005076;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#about #quote-slider .owl-dots .owl-dot:hover,
#about #quote-slider .owl-dots .owl-dot.active {
  background: #3d97b6;
}
#vip-room-index {
  padding-bottom: 100px;
  overflow: hidden;
  /* FORMULARZ WERSJA 2 !!!!!!! */
}
@media screen and (max-width: 767px) {
  #vip-room-index {
    padding-top: 160px;
  }
}
#vip-room-index .vip-top {
  text-align: center;
}
#vip-room-index .vip-top img {
  width: 100%;
  height: auto;
}
#vip-room-index .vip-bottom {
  position: relative;
  background: #003d5a url('../img/quantron/vip-bottom.png') no-repeat right center;
  background-size: cover;
}
#vip-room-index .vip-bottom .square {
  position: absolute;
}
@media screen and (max-width: 768px) {
  #vip-room-index .vip-bottom .square {
    display: none;
  }
}
#vip-room-index .vip-bottom .square.square-1 {
  top: -40%;
  left: 0;
  width: 10%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #vip-room-index .vip-bottom .square.square-1 {
    top: -15%;
  }
}
#vip-room-index .vip-bottom .square.square-2 {
  top: 30%;
  width: 15%;
  left: 5%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #vip-room-index .vip-bottom .square.square-2 {
    top: 70%;
  }
}
#vip-room-index .vip-bottom .square.square-3 {
  top: -40%;
  right: -5%;
  width: 10%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #vip-room-index .vip-bottom .square.square-3 {
    top: -15%;
  }
}
#vip-room-index .vip-bottom #col-robot img {
  margin-top: -50%;
  max-width: 100%;
}
#vip-room-index .vip-bottom #col-form {
  padding: 30px;
  color: #fff;
}
#vip-room-index .vip-bottom #col-form h3 {
  margin: 0 0 30px 0;
  font-weight: bold;
  letter-spacing: 4px;
}
#vip-room-index .vip-bottom #col-form .form-content {
  margin-bottom: 30px;
}
#vip-room-index .vip-bottom #col-form .form-content .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  color: #fff;
}
#vip-room-index .vip-bottom #col-form .form-content .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vip-room-index .vip-bottom #col-form .form-content input::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom #col-form .form-content input::-moz-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom #col-form .form-content input:-ms-input-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom #col-form .form-content input:-moz-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom #col-form #login-btn,
#vip-room-index .vip-bottom #col-form #register-btn {
  padding: 10px 20px;
  margin: 55px 10px 0 10px;
  background: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-style: italic;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  #vip-room-index .vip-bottom #col-form #login-btn,
  #vip-room-index .vip-bottom #col-form #register-btn {
    margin: 15px 10px 0 10px;
  }
}
#vip-room-index .vip-bottom #col-form #login-btn:focus,
#vip-room-index .vip-bottom #col-form #register-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vip-room-index .vip-bottom #col-form #register-btn {
  color: #005076;
  background: #fff;
}
#vip-room-index .vip-bottom-2 {
  position: relative;
  background: #003d5a url('../img/quantron/vip-bottom.png') no-repeat right center;
  background-size: cover;
}
#vip-room-index .vip-bottom-2 #col-robot-2 img {
  margin-top: -50%;
  max-width: 100%;
}
#vip-room-index .vip-bottom-2 #col-form-2 {
  padding: 30px;
  color: #fff;
}
#vip-room-index .vip-bottom-2 #col-form-2 h3 {
  margin: 0 0 30px 0;
  font-weight: bold;
  letter-spacing: 4px;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content {
  margin-bottom: 30px;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content.small {
  display: inline-block;
  width: 45%;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content.small:nth-of-type(even) {
  float: right;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  color: #fff;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content input::-webkit-input-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content input::-moz-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content input:-ms-input-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom-2 #col-form-2 .form-content input:-moz-placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}
#vip-room-index .vip-bottom-2 #col-form-2 #logout-btn {
  padding: 10px 20px;
  margin: 55px 10px 0 10px;
  background: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-style: italic;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  #vip-room-index .vip-bottom-2 #col-form-2 #logout-btn {
    margin: 15px 10px 0 10px;
  }
}
#vip-room-index .vip-bottom-2 #col-form-2 #logout-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#register {
  position: fixed;
  z-index: 555555;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
  padding: 5px;
  display: none;
}
#register .register-inside {
  background: #fff;
  padding: 50px;
  overflow: hidden;
  position: relative;
  background-image: url('../img/quantron/laska.png');
  background-position: bottom right;
  background-size: auto 80%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  #register .register-inside {
    -webkit-background-size: auto 65%;
    background-size: auto 65%;
  }
}
@media screen and (max-width: 767px) {
  #register .register-inside {
    background-image: none;
    -webkit-background-size: 0;
    background-size: 0;
    padding: 20px 30px;
  }
}
@media screen and (width: 320px) {
  #register .register-inside {
    padding: 10px 20px;
  }
}
#register .register-inside h3 {
  margin: 0;
  margin-bottom: 60px;
  position: relative;
  font-weight: 900;
  color: #005076;
}
@media screen and (max-width: 767px) {
  #register .register-inside h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media screen and (width: 320px) {
  #register .register-inside h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
#register .register-inside h3:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #005076;
  position: absolute;
  top: auto;
  bottom: -30px;
  left: 0;
}
@media screen and (max-width: 767px) {
  #register .register-inside h3:after {
    bottom: -15px;
  }
}
@media screen and (width: 320px) {
  #register .register-inside h3:after {
    bottom: -10px;
  }
}
#register .register-inside p {
  font-size: 16px;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  #register .register-inside p {
    font-size: 9px;
  }
}
#register .register-inside form .form-group {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  #register .register-inside form .form-group {
    margin-bottom: 20px;
  }
}
@media screen and (width: 320px) {
  #register .register-inside form .form-group {
    margin-bottom: 10px;
  }
}
#register .register-inside form .form-control {
  height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 1px solid #005076;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  #register .register-inside form .form-control {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
  }
}
#register .register-inside form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#register .register-inside form .checkbox-container {
  position: relative;
}
#register .register-inside form .checkbox-container label {
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  #register .register-inside form .checkbox-container label {
    font-size: 8px;
  }
}
#register .register-inside form .checkbox-container input[type='checkbox'] {
  display: none;
}
#register .register-inside form .checkbox-container input[type='checkbox'] + label {
  padding-left: 30px;
}
#register .register-inside form .checkbox-container input[type='checkbox'] + label:before {
  width: 14px;
  height: 14px;
  content: "";
  display: block;
  background: none;
  border: 1px solid #005076;
  position: absolute;
  top: 5px;
  left: 0;
}
#register .register-inside form .checkbox-container input[type='checkbox'] + label:after {
  width: 8px;
  height: 8px;
  content: "";
  background: #005076;
  border: 1px solid #005076;
  position: absolute;
  top: 8px;
  left: 3px;
  display: block;
  opacity: 0;
}
#register .register-inside form .checkbox-container input[type='checkbox']:checked + label:after {
  opacity: 1;
}
#register .register-inside form #submitRegister {
  padding: 10px 20px;
  background: #fff;
  border-color: #005076;
  color: #005076;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-style: italic;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  #register .register-inside form #submitRegister {
    padding: 5px 20px;
    margin-top: 5px;
  }
}
@media screen and (width: 320px) {
  #register .register-inside form #submitRegister {
    font-size: 12px;
  }
}
#register .register-inside form #submitRegister:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#register .register-inside form input::-webkit-input-placeholder {
  color: #005076;
  font-style: italic;
  font-weight: 300;
}
#register .register-inside form input::-moz-placeholder {
  color: #005076;
  font-style: italic;
  font-weight: 300;
}
#register .register-inside form input:-ms-input-placeholder {
  color: #005076;
  font-style: italic;
  font-weight: 300;
}
#register .register-inside form input:-moz-placeholder {
  color: #005076;
  font-style: italic;
  font-weight: 300;
}
#register #close-register {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  padding: 5px;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
#register #close-register a {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  position: relative;
  display: block;
}
#register #close-register a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 900;
}
#subpage-container p {
  padding: 25px 0;
  text-align: justify;
}
#subpage-container figure figcaption {
  font-size: 11px;
  padding: 10px 0;
  color: #005076;
  font-style: italic;
}
#subpage-container figure img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
#subpage-container h2 {
  position: relative;
  padding-bottom: 10px;
  color: #005076;
}
#subpage-container h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #005076;
}
#subpage-container .date {
  padding-top: 0;
  font-style: italic;
  color: #005076;
}
#subpage-container h4 {
  color: #005076;
  padding-top: 15px;
  padding-bottom: 15px;
}
#subpage-container img {
  display: block;
  margin: 0 auto;
}
#subpage-container .author {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  color: #005076;
  font-style: italic;
  width: 50%;
  text-align: right;
  padding: 25px 0;
}
#subpage-container blockquote {
  position: relative;
  padding: 25px 0;
  border: none;
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
#subpage-container blockquote:before,
#subpage-container blockquote:after {
  content: '"';
  font-size: 60px;
  position: absolute;
  top: -20px;
  left: -20px;
  color: #005076;
}
#subpage-container blockquote:after {
  top: auto;
  left: auto;
  bottom: -50px;
  right: 0;
}
#subpage-container .name {
  text-align: right;
  color: #005076;
}
#subpage-container .recommended-wrapper .recommented-heading {
  color: #005076;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  padding-bottom: 10px;
}
#subpage-container .recommended-wrapper .recommented-heading:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #005076;
  font-weight: 900;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper {
  margin-top: 25px;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .item-small {
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (max-width: 767px) {
  #subpage-container .recommended-wrapper .recommended-images-wrapper .item-small {
    margin-bottom: 30px;
  }
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .item-small:before {
  width: calc(100% - 30px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 15px;
  background: #005076;
  opacity: 0.5;
  content: "";
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .item-small .img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .item-small .img-wrapper img {
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .item-small:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content {
  width: 100%;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .top {
  position: absolute;
  left: 2%;
  padding: 0 20px;
  top: 5%;
  z-index: 3;
  width: 95%;
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  -o-transform: translate(0, -100px);
  transform: translate(0, -100px);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .top .date {
  color: #fff;
  font-style: normal;
  float: left;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .top .share-icon {
  font-size: 28px;
  float: right;
  color: #fff;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom {
  position: absolute;
  padding: 0 10px;
  bottom: 5%;
  left: 5%;
  z-index: 3;
  -webkit-transform: translate(0, 250px);
  -moz-transform: translate(0, 250px);
  -ms-transform: translate(0, 250px);
  -o-transform: translate(0, 250px);
  transform: translate(0, 250px);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom .text {
  width: 85%;
  z-index: 3;
  left: 10%;
  color: #fff;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom .text .text-title {
  padding-top: 20px;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  #subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom .text .text-title {
    font-size: 16px;
  }
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom .text .text-title:hover {
  text-decoration: underline;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper .recommended-content .bottom .text .text-paragraph {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
#subpage-container .recommended-wrapper .recommended-images-wrapper.active .item-small {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#subpage-container .recommended-wrapper .recommended-images-wrapper.active .item-small .top {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#subpage-container .recommended-wrapper .recommended-images-wrapper.active .item-small .bottom {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#vip-container .vip-video {
  overflow: hidden;
}
#vip-container .vip-video .section-video {
  margin-bottom: 40px;
  position: relative;
}
#vip-container .vip-video .section-video .video-square-1 {
  position: absolute;
  width: 15%;
  top: 8%;
  left: -11%;
}
@media screen and (max-width: 768px) {
  #vip-container .vip-video .section-video .video-square-1 {
    display: none;
  }
}
#vip-container .vip-video .section-video .video-square-2 {
  position: absolute;
  width: 25%;
  top: 38%;
  left: -8%;
}
@media screen and (max-width: 768px) {
  #vip-container .vip-video .section-video .video-square-2 {
    display: none;
  }
}
#vip-container .vip-video .section-video .video-square-3 {
  position: absolute;
  width: 42%;
  top: 25%;
  right: -22%;
}
@media screen and (max-width: 768px) {
  #vip-container .vip-video .section-video .video-square-3 {
    display: none;
  }
}
#vip-container .row-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #636363;
}
#vip-container .row-wrapper h3 {
  text-transform: uppercase;
  color: #005076;
  text-align: center;
}
@media screen and (width: 1280px) {
  #vip-container .row-wrapper h3 {
    font-size: 14px;
  }
}
#vip-container .row-wrapper .icon-wrapper .inside {
  padding: 2px 15px;
}
#vip-container .row-wrapper .icon-wrapper .inside img {
  width: 100%;
  height: auto;
}
#vip-container .row-wrapper p {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: left;
}
#vip-container .row-wrapper .button-wrapper {
  width: 80%;
  text-align: left;
  margin-bottom: 50px;
}
@media screen and (width: 1280px) {
  #vip-container .row-wrapper .button-wrapper {
    width: 85%;
  }
}
#product-page {
  margin-top: 40px;
}
#product-page .row-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5%;
  left: 0;
  background-color: #636363;
}
#product-page .row-wrapper .slider {
  margin-top: 20px;
}
#product-page .row-wrapper .slider img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  border: 1px solid #005076;
}
#product-page .row-wrapper .icon-wrapper {
  display: inline-block;
  background: #267c9d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #267c9d 0%, #2989d8 33%, #2989d8 33%, #207cca 53%, #207cca 53%, #04557b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c9d', endColorstr='#04557b', GradientType=0);
  /* IE6-9 */
  padding: 2px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#product-page .row-wrapper .icon-wrapper .inside {
  padding: 2px 30px;
  display: inline-block;
  background: #fff;
  border-radius: 20px;
}
#product-page .row-wrapper .icon-wrapper .inside img {
  max-width: 100%;
  height: auto;
}
#product-page .row-wrapper .product-info .product-name {
  color: #005076;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
}
#product-page .row-wrapper .product-info .product-name:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #005076;
  font-weight: 900;
}
#product-page .row-wrapper .product-info .product-description {
  padding-top: 15px;
}
#product-page .row-wrapper .product-info .nav-pills {
  margin-top: 25px;
}
#product-page .row-wrapper .product-info .nav-pills li {
  border: 1px solid #005076;
}
#product-page .row-wrapper .product-info .nav-pills li:nth-child(even) {
  border-left: none;
  border-right: none;
}
#product-page .row-wrapper .product-info .nav-pills li a {
  border-radius: 0;
  text-transform: uppercase;
  padding: 5px 25px;
  color: #005076;
}
@media screen and (max-width: 767px) {
  #product-page .row-wrapper .product-info .nav-pills li a {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media screen and (width: 768px) {
  #product-page .row-wrapper .product-info .nav-pills li a {
    padding: 5px 6px;
  }
}
@media screen and (width: 1024px) {
  #product-page .row-wrapper .product-info .nav-pills li a {
    padding: 5px 20px;
  }
}
#product-page .row-wrapper .product-info .nav-pills li.active a {
  color: #fff;
  background-color: #005076;
  text-transform: uppercase;
}
#product-page .row-wrapper .product-info .tab-content {
  margin-top: 25px;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .icons-wrapper {
  margin-top: 25px;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .icons-wrapper .product-icon:not(:last-child) {
  border-right: 1px solid #005076;
}
@media screen and (max-width: 768px) {
  #product-page .row-wrapper .product-info .tab-content .tab-pane .icons-wrapper .product-icon:not(:last-child) {
    border-right: none;
  }
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .icons-wrapper .product-icon img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .icons-wrapper .product-icon p {
  font-weight: 700;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .attachment-wrapper {
  padding-left: 100px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Pictograms-nps-misc-pedestrian_crossing.svg/240px-Pictograms-nps-misc-pedestrian_crossing.svg.png') no-repeat left center;
  background-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .attachment-wrapper p {
  padding-top: 10px;
  display: inline;
}
#product-page .row-wrapper .product-info .tab-content .tab-pane .attachment-wrapper a img {
  width: 30px;
  height: auto;
  padding-left: 10px;
  display: inline;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
.nav-pills > li + li {
  margin-left: 0;
}
.company-container {
  padding: 120px 0 ;
  overflow: hidden;
  position: relative;
}
.company-container p {
  line-height: 25px;
}
.company-container .main-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.company-container .main-wrapper .items .item {
  margin-bottom: 40px;
}
.company-container .main-wrapper .items .item .info-heading {
  text-transform: uppercase;
  color: #005076;
  position: relative;
}
.company-container .main-wrapper .items .item .info-heading:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #005076;
  position: absolute;
  top: auto;
  bottom: -15px;
  left: 0;
}
.company-container .main-wrapper .items .item .info-heading.active:after {
  width: 80px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.company-container .main-wrapper .items .item img {
  max-width: 100%;
  height: auto;
}
.company-container .main-wrapper .items .item .info-heading span {
  font-size: 14px;
}
.company-container .main-wrapper .items .item p {
  padding-top: 25px;
}
.company-container .main-wrapper .items .item p.bold-paragraph {
  font-weight: 700;
}
.company-container .main-wrapper .items .text-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.company-container .main-wrapper .items .text-wrapper:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #005076;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
}
.company-container .main-wrapper .items .text-wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #005076;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}
