@import 'utils.less';
@import 'colors.less';

body {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Kankin';
  src: url('../fonts/Kankin.eot');
  src: url('../fonts/Kankin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kankin.woff') format('woff'),
  url('../fonts/Kankin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.kankin{
  font-family: 'Kankin';
}

.gradient-top-bottom{
  background: rgb(38,124,157); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(38,124,157,1) 0%, rgba(41,137,216,1) 33%, rgba(41,137,216,1) 33%, rgba(32,124,202,1) 53%, rgba(32,124,202,1) 53%, rgba(4,85,123,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(38,124,157,1) 0%,rgba(41,137,216,1) 33%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 53%,rgba(4,85,123,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(38,124,157,1) 0%,rgba(41,137,216,1) 33%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 53%,rgba(4,85,123,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c9d', endColorstr='#04557b',GradientType=0 ); /* IE6-9 */
}

.button-wrapper {
  width: 190px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: block;
  background: rgb(51,140,172); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(51,140,172,1) 0%, rgba(4,85,122,1) 47%, rgba(51,140,172,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51,140,172,1) 0%,rgba(4,85,122,1) 47%,rgba(51,140,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51,140,172,1) 0%,rgba(4,85,122,1) 47%,rgba(51,140,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338cac', endColorstr='#338cac',GradientType=1 );
  background-size: 200%;
  background-position: center right;
  .transition(.4s);
  border-radius: 20px;
  white-space: nowrap;
  span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    font-size: 0.8em;
    color: #fff;
  }
  &:hover {
    background-position: center left;
  }
}

.button-centered {
  .button-wrapper {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

p {
  color: @grey;
}

h2.section-name {
  font-weight: 900;
  display: inline;
  text-transform: uppercase;
  white-space: nowrap;
  &:before {
    content: attr(data-text);
    display: inline;
    color: @grey;
    top: 50%;
    left: 10%;
    position: absolute;
    opacity: 0.1;
    font-size: 2em;
    .translate(0, -50%);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.navbar {
  height: 80px;
  margin:0;
  background-color: #fff;
  @media (max-width: 768px) {
    height:100px;
  }
  .container-fluid {
    @media screen and (width: 768px) {
      margin: 0;
      padding: 0;
    }
    .navbar-header {
      width: 100%;
      @media (max-width: 768px) {
        height: 100px;
        float: left;
        padding: 0 15px;
        margin: 0 !important;
      }
      .navbar-brand {
        position: relative;
        z-index: 22;
        @media screen and (max-width: 768px) {
          float: none !important;
          display: flex;
          justify-content: center;
        }
        @media screen and (max-width: 992px) {
          margin-left: -10%;
        }
        @media (max-width: 1300px) {
          padding: 25px 0;
        }
        @media screen and (width: 1024px) {
          margin-left: -60px;
        }
        img {
          height: 60px;
          width: auto;
          @media screen and (max-width: 1280px) {
            height: 45px;
            width: auto;
          }
        }
      }
      .navbar-toggle {
        position: absolute;
        top: 60px;
        right: 10px;
        margin: 0;
        border: none;
        @media screen and (max-width: 768px) {
          top: 30px;
          display: block;
        }
        &:hover, &:active, &:focus {
          background-color: transparent;
        }
        .icon-bar {
          background: @blue;
          transition: all 0.2s;
          cursor: pointer;
          &.top-bar {
            .rotate(0);
          }
          &.middle-bar {
            opacity: 1;
          }
          &.bottom-bar {
            .rotate(0);
          }
        }
        &.indexcity {
          .icon-bar {
            &.top-bar {
              transform: rotate(45deg);
              transform-origin: 10% 90%;
            }
            &.middle-bar {
              opacity: 0;
            }
            &.bottom-bar {
              transform: rotate(-45deg);
              transform-origin: 10% 10%;
            }
          }
        }
      }
    }
    .navbar-collapse {
      max-height: none !important;
      .navbar-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
        text-align: center;
        @media screen and (max-width: 768px) {
          position: relative;
          top:0;
          left:0;
          z-index:5;
          background: #fff;
          margin:0;
          text-align: left;
          transform: translate(0);
        }
        @media screen and (width: 800px) {
          font-size: 12px;
        }
        @media screen and (width: 1024px) {
          font-size: 11px;
        }
        > li {
          float: none;
          display: inline-block;
          text-transform: uppercase;
          padding: 2px 0px;
          @media screen and (max-width: 768px) {
            width:100%;
            padding: 16px 0;
          }
          a {
            &:after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 15px;
              width: 0;
              height: 2px;
              display: block;
              background-color: @blue;
              transition: .3s;
            }
          }
          &.active{
            a {
              background: transparent;
              color: @blue;
              font-weight: 700;
              &:after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 15px;
                width: calc(~"100% - 30px");
                height: 2px;
                display: block;
                background-color: @blue;
                transition: .3s;
                @media screen and (max-width: 768px) {
                  width: 0;
                }
              }
            }
          }
          &.dropdown {
            border: 1px solid @blue;
            border-radius: 1em;
            &.active {
              a {
                &:after {
                  display: none;
                }
              }
            }
            &:after {
              display: none;
            }
            &:hover, &:active, &:focus {
              background-color: transparent;
            }
            .dropdown-menu {
              margin-top: 10px;
              border: 1px solid @blue;
              border-radius: 10px;
              @media screen and (max-width: 768px) {
                border: none;
              }
              a {
                font-weight: normal;
                span {
                  font-weight: bold;
                }
                &:hover {
                  background-color: transparent;
                  color: @blue;
                }
                &:after {
                  display: none;
                }
              }
            }
            @media screen and (max-width: 768px) {
              border: none;
              .dropdown-menu {
                text-align: right;
              }
            }
          }
          >a{
            padding:0 15px;
            color:#000;
            @media screen and (max-width: 992px) {
              padding: 0 12px;
            }
            @media screen and (max-width: 768px) {
              font-size: 16px;
            }
            &:hover,&:focus{
              background: transparent;
              color: @blue;
              border-radius: 2em;
            }
          }
        }
      }
      .navbar-right {
        position: absolute;
        display: inline;
        top: 50%;
        right: 0%;
        .translate(0, 50%);
        text-align: center;
        border: 1px solid @blue;
        border-radius: 1em;
        @media screen and (max-width: 768px) {
          border: none;
          position: relative;
          top:0;
          left:0;
          z-index:5;
          background: #fff;
          margin:0;
          text-align: center;
          transform: translate(0);
        }
        > li {
          margin: 0 0;
          text-transform: uppercase;
          padding: 2px 0px;
          @media screen and (max-width: 767px) {
            padding: 0;
          }
          &.active {
            a {
              font-weight: 700;
            }
          }
          &:first-child {
            a {
              padding: 0 4px 0 15px;
              border-right: 1px solid @blue;
              @media screen and (max-width: 768px) {
                padding: 0 16px;
                border-right: none;
              }
            }
          }
          &:last-child {
            a {
              padding: 0 15px 0 4px;
              @media screen and (max-width: 768px) {
                padding: 0 16px;
              }
            }
          }
          a {
            color:#000;
            @media (max-width: 1300px) {
              padding: 0 10px;
              font-size:12px;
            }
            @media (max-width: 768px) {
              height:40px;
              line-height: 40px;
              font-size: 12px;
            }
            &:hover,&:focus{
              background: transparent;
              color: @blue;
            }
          }
        }
      }
    }
  }
}

.indexcity {
  z-index: 99;
}

.navbar-collapse.right {
  transform:translate(0,47px);
}

a{
  .transition(.4s);
  &:hover{
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-collapse{
    background-color: #fff;
    position: absolute;
    top: 54%;
    z-index: 10;
    transition:all 0.8s ease-out;
    height: 100vh;
    width: 90%;
    right:0;
    transform:translate(100%,47px);
  }
  .navbar-fixed-top .navbar-nav>li>a {
    color: @blue;
    text-align: right;
    padding: 20px 0 20px 25px;
    font-size: 1.5em;
  }
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.navbar .container-fluid .navbar-collapse .navbar-center li a,
.navbar .container-fluid .navbar-collapse .navbar-right li a {
  color: @blue !important;
}

.icon-wrapper {
  display: inline-block;
  .gradient-top-bottom;
  padding:2px;
  .border-radius(22px);
  .inside {
    padding:2px 30px;
    display: inline-block;
    background: #fff;
    border-radius: 20px;
    img {
      height:40px;
      width:auto;
    }
  }
  &.text-icon{
    clear: both;
    width:100%;
    margin:0 auto 30px;
    .border-radius(27px);
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin: 0 auto 15px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px) {
      margin: 0 auto 20px;
    }
    .inside{
      width:100%;
      .border-radius(25px);
      &:after{
        width:100%;
        height:100%;
        background: rgb(38,124,157); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(38,124,157,1) 0%, rgba(41,137,216,1) 33%, rgba(41,137,216,1) 33%, rgba(32,124,202,1) 53%, rgba(32,124,202,1) 53%, rgba(4,85,123,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(38,124,157,1) 0%,rgba(41,137,216,1) 33%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 53%,rgba(4,85,123,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(38,124,157,1) 0%,rgba(41,137,216,1) 33%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 53%,rgba(32,124,202,1) 53%,rgba(4,85,123,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c9d', endColorstr='#04557b',GradientType=0 ); /* IE6-9 */
        .border-radius(27px);
        content:"";
        display: block;
        position: absolute;
        top:0;
        left:80px;
        z-index:1;
        .transition(.4s);
        .translate(100%,0);
      }
      span{
        line-height: 50px;
        text-transform: uppercase;
        position: relative;
        z-index:2;
        .transition(.4s);
        @media screen and (max-width: 767px) {
          font-size: 11px;
          line-height: 40px;
        }
        @media screen and (min-width: 768px) and (max-width: 1440px) {
          font-size: 12px;
        }
      }
    }
    &:hover{
      .inside{
        &:after{
          .translate(0,0);
        }
        span{
          color:#fff;
        }
      }
    }
  }
}
// koniec nawigacji

#top-container{
  width:100%;
  height:100vh;
  position: relative;
  overflow: hidden;
  background: url('../img/quantron/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @media screen and (max-width: 767px) {
    height: auto;
    padding-top:100px;
    background: none;
  }
  @media screen and (max-width: 1200px) {
    height: auto;
    padding-top:100px;
    background-position: bottom;
  }
  @media screen and (min-width: 1201px) and (max-width: 1440px) {
    padding-top: 150px;
  }
  .back{
    position: absolute;
    top:auto;
    bottom:0;
    left:0;
    &.square-left{
      width:65%;
      height:auto;
      .translate(-40%,30%);
    }
    &.square-right{
      width:40%;
      height:auto;
      left:auto;
      right:0;
      .translate(45%,30%);
    }
    &.robot{
      width:30%;
      height:auto;
      left:10%;
      .transform-origin(50%, 100%);
      .transition(.1s);
    }
  }
  #top-content{
    .center;
    z-index:3;
    @media screen and (max-width: 767px) {
      position: relative;
      padding-bottom: 200px;
      top:0;
      left:0;
      .translate(0,0);
    }
    @media screen and (min-width: 767px) and (max-width: 1200px) {
      position: relative;
      padding-bottom: 300px;
      top:0;
      left:0;
      .translate(0,0);
    }
    h2{
      font-size:62px;
      color:@blue;
      font-weight: 900;
      text-transform: uppercase;
      margin:0 0 20px 0;
      @media screen and (max-width: 767px) {
       font-size: 40px;
      }
    }
    h3{
      font-size:24px;
      color:@blue;
      font-weight: 300;
      text-transform: uppercase;
      margin:0 0 30px 0;
      @media screen and (max-width: 767px) {
        font-size: 20px;
        margin: 0 0 10px 0;
      }
    }
    p{
      color:@grey;
      font-size:22px;
      font-weight: 300;
      margin-left: 30px;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    #icon-container{
      text-align: center;
      margin-top:50px;
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
      @media screen and (width: 1024px) and (height: 1366px) {
        width: 42%;
      }
    }
  }
}


// sekcja info
#info-container {
  position: relative;
  margin-top: 80px;
  background: url('../img/quantron/background.jpg');
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .info-row {
    margin-top: 20px;
    margin-bottom: 20px;
    .square-1 {
      position: absolute;
      width: 30%;
      height: auto;
      top: 25%;
      left: -25%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .square-2 {
      position: absolute;
      width: 15%;
      height: auto;
      top: 55%;
      right: -15%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .square-3 {
      position: absolute;
      width: 10%;
      height: auto;
      left: -10%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .image-container {
      position: relative;
      &:before {
        content: attr(data-text);
        position: absolute;
        color: @blue;
        display: block;
        top: -2%;
        left: 15%;
        font-size: 5em;
        font-weight: 700;
        .kankin;
        .scale(0);
        .transition(.4s);
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .text-container {
      .info-title {
        font-weight: 700;
        text-transform: uppercase;
        color: @blue;
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          left:0;
          bottom: -15px;
          height: 1px;
          background: @blue;
          .transition(.4s);
          width:0;
        }
      }
      .info-paragraph {
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
    &.active{
      .image-container {
        &:before{
          .scale(1);
        }
      }
      .text-container{
        .info-title{
          &:after{
            width: 80px;
          }
        }

      }
    }
  }
} // koniec sekcji info

// sekcja aktualności
#news-container {
  margin-top: 40px;
  margin-bottom: 40px;
  .news-images-wrapper {
    margin-top: 40px;
    .item-big, .item-small {
      border-radius: 15px;
      max-width: 100%;
      height: 100%;
      overflow:hidden;
      position: relative;
      .scale(0);
      .transition(.4s);
      &:before {
        width: calc(~'100% - 30px');
        height: calc(~'100% - 30px');
        position: absolute;
        top: 0;
        left: 15px;
        background: @blue;
        opacity: 0.5;
        content: "";
        z-index:2;
        border-radius: 20px;
      }
      img {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
      }
      .news-content {
        width:100%;
        .top {
          position: absolute;
          padding: 0 30px;
          top: 5%;
          z-index: 3;
          color: #fff;
          width: 95%;
          .translate(0, -100px);
          .transition(.8s);
          .transition-delay(.3s);
          .date {
            float: left;
            color: #fff;
          }
          .share-icon {
            font-size: 28px;
            float: right;
            color: #fff;
          }
        }
        .bottom {
          position: absolute;
          padding: 0 30px;
          bottom: 10%;
          z-index: 3;
          .translate(0, 250px);
          .transition(.8s);
          .transition-delay(.3s);
          .text {
            width: 75%;
            z-index: 3;
            color: #fff;
            @media screen and (max-width: 480px) {
              width: 95%;
            }
            .text-title {
              padding-top: 20px;
              padding-bottom: 20px;
              color: #fff;
              @media screen and (max-width: 480px) {
                padding-bottom: 0;
                font-size: 20px;
              }
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                padding-bottom: 0;
              }
            }
            .text-paragraph {
              padding-top: 20px;
              padding-bottom: 20px;
              font-size: 14px;
              line-height: 30px;
              color: #fff;
              @media screen and (max-width: 480px) {
                line-height: 20px;
              }
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                line-height: 20px;
              }
            }
          }
          .hyperlink-wrapper {
            z-index: 3;
            float: right;
            .link {
              font-size: 1.8vh;
              color: #fff;
              &:hover {
                text-decoration: underline;
              }
              p {
                padding-right: 20px;
              }
            }
          }
        }
        &.small {
          .top {
            padding: 0 30px;
            @media screen and (min-width: 992px) and (max-width: 1200px) {
              width: 90%;
              padding: 0 20px;
            }
            @media screen and (min-width: 1201px) and (max-width: 1350px) {
              padding: 0 25px 0 20px;
            }
            .date {
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                font-size: 10px;
              }
            }
            .share-icon {
              font-size: 28px;
              float: right;
              color: #fff;
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                font-size: 18px;
              }
            }
          }
          .bottom {
            padding: 0 30px;
            @media screen and (min-width: 992px) and (max-width: 1350px) {
              padding: 0 20px;
              width: 90%;
            }
            .text {
              @media screen and (min-width: 992px) and (max-width: 1350px) {
                width: 90%;
              }
              .text-title {
                font-size: 16px;
                padding-bottom: 0;
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                  font-size: 12px;
                  margin-bottom: 0;
                }
              }
              .text-paragraph {
                padding-top: 5px;
                padding-bottom: 20px;
                line-height: 20px;
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
    &.active {
      .item-big, .item-small {
        .scale(1);
        .top {
          .translate(0, 0);
        }
        .bottom {
          .translate(0, 0);
        }
      }
    }
  }
}

#contact {
  margin-top: 40px;
  margin-bottom: 40px;
  .contact-wrapper {
    @media screen and (max-width: 1200px) {
      margin-top: 40px;
    }
    .left {
      display: inline-block;
      vertical-align: middle;
      float: none;
      .contact-item-wrapper {
        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 1px;
          height: 100%;
          top: 0;
          left: 90px;
          background-color: @grey;
        }
        .contact-item {
          padding-left: 100px;
          background: url('../img/quantron/lokalizacja.svg') no-repeat left center;
          background-size: 60px;
          padding-top: 10px;
          padding-bottom: 10px;
          @media screen and (max-width: 480px) {
            background-size: 40px;
          }
          .contact-details {
            padding-top: 10px;
            font-size: 18px;
            @media screen and (max-width: 480px) {
              font-size: 14px;
            }
            a {
              color: @blue;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &.tel {
            background-image: url('../img/quantron/phone.svg');
          }
          &.email {
            background-image: url('../img/quantron/mail.svg');
          }
        }
      }
    }
    .right {
      display: inline-block;
      vertical-align: middle;
      float: none;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

#footer {
  padding: 30px 0;
  background: @blue;
  p {
    color: silver;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
  }
}


#about{
  position: relative;
  .head-wrapper {
    @media screen and (min-width: 992px) and (max-width: 1440px) {
      position: absolute;
      top: 50%;
      left: 50%;
      .translate(0, -50%);
    }
    img{
      max-width:100%;
      height: auto;
    }
  }
  #quote-slider{
    margin-top: 10px;
    &:before,&:after{
      width:100%;
      height:50px;
      display:block;
      content:"";
      position: absolute;
      top:0;
      left:0;
      z-index:5;
    }
    &:before{
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
    &:after{
      top:auto;
      bottom:0;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .item{
      padding:50px 30px;
      background: #fff;
      h3{
        position: relative;
        margin:0 0 30px 0;
        &:before,&:after{
          content:'"';
          font-size:60px;
          position: absolute;
          top:-20px;
          left:-20px;
          color:@blue;
        }
        &:after{
          top:auto;
          left:auto;
          bottom:-50px;
          right:-20px;
        }
      }
      p{
        font-size:16px;
        margin-bottom:30px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
      p.author{
        font-weight: bold;
        text-align: right;
        color:@blue;
        font-style: italic;
      }
    }
    .owl-nav{
      position: absolute;
      top:50%;
      z-index:2;
      left:0;
      .transform(translate(-107px,-50%) rotate(90deg));
      padding:5px;
      div{
        width:50px;
        float:left;
        height:20px;
        line-height: 20px;
        img{
          width:20px;
          .rotate(-90deg);
          margin:0 0 5px 0;
        }
        &.owl-next{
          float:right;
          text-align: right;
          img{
            .rotate(90deg);
          }
        }
      }
    }
    .owl-dots{
      position: absolute;
      top:50%;
      left:0;
      .transform(translate(-75px,-50%) rotate(90deg));
      z-index:2;
      .owl-dot{
        width:20px;
        height:20px;
        background: #fff;
        margin:5px;
        float:left;
        .border-radius(10px);
        border:2px solid @blue;
        .transition(.4s);
        &:hover,&.active{
            background: #3d97b6;
        }
      }
    }
  }
}

#vip-room-index{
  padding-bottom:100px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    padding-top: 160px;
  }
  .vip-top{
    text-align: center;
    img{
      width:100%;
      height:auto;
    }
  }
  .vip-bottom{
    position: relative;
    background: #003d5a url('../img/quantron/vip-bottom.png') no-repeat right center;
    background-size: cover;
    .square {
      position: absolute;
      @media screen and (max-width: 768px) {
        display: none;
      }
      &.square-1 {
        top: -40%;
        left: 0;
        width: 10%;
        @media screen and (min-width: 769px) and (max-width: 992px) {
          top: -15%;
        }
      }
      &.square-2 {
        top: 30%;
        width: 15%;
        left: 5%;
        @media screen and (min-width: 769px) and (max-width: 992px) {
          top: 70%;
        }
      }
      &.square-3 {
        top: -40%;
        right: -5%;
        width: 10%;
        @media screen and (min-width: 769px) and (max-width: 992px) {
          top: -15%;
        }
      }
    }
    #col-robot{
      img{
        margin-top:-50%;
        max-width: 100%;
      }
    }
    #col-form{
      padding:30px;
      color:#fff;
      h3{
        //color:#fff;
        margin:0 0 30px 0;
        font-weight: bold;
        letter-spacing: 4px;
      }
      .form-content{
        margin-bottom:30px;
        .form-control{
          background: none;
          border:none;
          border-bottom:1px solid #fff;
          .border-radius(0);
          padding:0;
          color:#fff;
          &:focus{
            outline: none;
            .box-shadow(none);
          }
        }
        input::-webkit-input-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input::-moz-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input:-ms-input-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input:-moz-placeholder {
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
      }
      #login-btn,#register-btn{

        padding:10px 20px;
        margin:55px 10px 0 10px;
        background: none;
        color:#fff;
        text-transform: uppercase;
        .border-radius(0);
        font-style: italic;
        font-weight:300;
        @media screen and (max-width: 1200px) {
          margin: 15px 10px 0 10px;
        }
        &:focus{
          outline: none;
          .box-shadow(none);
        }
        &:hover{

        }
      }
      #register-btn{
        color:@blue;
        background: #fff;
      }
    }
  } /* FORMULARZ WERSJA 2 !!!!!!! */
  .vip-bottom-2{
    position: relative;
    background: #003d5a url('../img/quantron/vip-bottom.png') no-repeat right center;
    background-size: cover;
    #col-robot-2{
      img{
        margin-top:-50%;
        max-width: 100%;
      }
    }
    #col-form-2{
      padding:30px;
      color:#fff;
      h3{
        //color:#fff;
        margin:0 0 30px 0;
        font-weight: bold;
        letter-spacing: 4px;
      }
      .form-content{
        margin-bottom:30px;
        &.small {
          display: inline-block;
          width: 45%;
          &:nth-of-type(even) {
            float:right;
          }
        }
        .form-control{
          background: none;
          border:none;
          border-bottom:1px solid #fff;
          .border-radius(0);
          padding:0;
          color:#fff;
          &:focus{
            outline: none;
            .box-shadow(none);
          }
        }
        input::-webkit-input-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input::-moz-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input:-ms-input-placeholder{
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
        input:-moz-placeholder {
          color:#fff;
          font-style: italic;
          font-weight: 300;
        }
      }
      #logout-btn{
        padding:10px 20px;
        margin:55px 10px 0 10px;
        background: none;
        color:#fff;
        text-transform: uppercase;
        .border-radius(0);
        font-style: italic;
        font-weight:300;
        @media screen and (max-width: 767px) {
          margin: 15px 10px 0 10px;
        }
        &:focus{
          outline: none;
          .box-shadow(none);
        }
      }
    }
  }
}

#register{
  position: fixed;
  z-index:555555;
  top:50%;
  left:50%;
  .translate(-50%,-50%);
  .gradient-top-bottom;
  padding:5px;
  display: none;
  .register-inside{
    background:#fff;
    padding:50px;
    overflow: hidden;
    position: relative;
    background-image: url('../img/quantron/laska.png');
    background-position: bottom right;
    background-size: auto 80%;
    background-repeat: no-repeat;
    @media screen and (max-width: 992px) {
      -webkit-background-size: auto 65%;
      background-size: auto 65%;
    }
    @media screen and (max-width: 767px) {
      background-image: none;
      -webkit-background-size: 0;
      background-size: 0;
      padding: 20px 30px;
    }
    @media screen and (width: 320px) {
      padding: 10px 20px;
    }
    h3{
      margin:0;
      margin-bottom:60px;
      position: relative;
      font-weight: 900;
      color:@blue;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 30px;
      }
      @media screen and (width: 320px) {
        font-size: 15px;
        margin-bottom: 20px;
      }
      &:after{
        content:"";
        display: block;
        width:100px;
        height:1px;
        background:@blue;
        position: absolute;
        top:auto;
        bottom:-30px;
        left:0;
        @media screen and (max-width: 767px) {
          bottom: -15px;
        }
        @media screen and (width: 320px) {
          bottom: -10px;
        }
      }
    }
    p{
      font-size:16px;
      letter-spacing: 1px;
      @media screen and (max-width: 767px) {
        font-size: 9px;
      }
    }
    form{
      .form-group{
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
          margin-bottom: 20px;
        }
        @media screen and (width: 320px) {
          margin-bottom: 10px;
        }
      }
      .form-control{
        height:40px;
        line-height: 40px;
        border:none;
        border-bottom:1px solid @blue;
        .border-radius(0);
        padding-left:0;
        @media screen and (max-width: 767px) {
          height: 20px;
          line-height: 20px;
          font-size: 11px;
        }
        &:focus{
          outline: none;
          .box-shadow(none);
        }
      }
       //!!!!!!!!!!!!!!!!
      .checkbox-container {
        position: relative;
        label {
          font-weight: 300;
          @media screen and (max-width: 767px) {
            font-size: 8px;

          }
        }
        input[type='checkbox'] {
          display: none;
          &+label{
            padding-left:30px;
            &:before{
              width:14px;
              height:14px;
              content:"";
              display: block;
              background: none;
              border:1px solid @blue;
              position: absolute;
              top:5px;
              left:0;
            }
            &:after{
              width:8px;
              height:8px;
              content:"";
              background: @blue;
              border:1px solid @blue;
              position: absolute;
              top:8px;
              left:3px;
              display: block;
              opacity:0;
            }
          }
          &:checked{
            +label{
              &:after{
                opacity:1;
              }
            }
          }
        }
      }

      #submitRegister{
        padding:10px 20px;
        background: #fff;
        border-color:@blue;
        color:@blue;
        text-transform: uppercase;
        .border-radius(0);
        font-style: italic;
        font-weight:300;
        @media screen and (max-width: 767px) {
          padding: 5px 20px;
          margin-top: 5px;
        }
        @media screen and (width: 320px) {
          font-size: 12px;
        }
        &:focus{
          outline: none;
          .box-shadow(none);
        }
      }
      input::-webkit-input-placeholder{
        color:@blue;
        font-style: italic;
        font-weight: 300;
      }
      input::-moz-placeholder{
        color:@blue;
        font-style: italic;
        font-weight: 300;
      }
      input:-ms-input-placeholder{
        color:@blue;
        font-style: italic;
        font-weight: 300;
      }
      input:-moz-placeholder {
        color:@blue;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
  #close-register{
    width:40px;
    height:40px;
    .border-radius(20px);
    .gradient-top-bottom;
    position: absolute;
    top:0;
    left:auto;
    right:0;
    padding:5px;
    .translate(50%,-50%);
    a{
      width:30px;
      height:30px;
      .border-radius(15px);
      background: #fff;
      position: relative;
      display: block;
      span{
        .center;
        font-size:20px;
        font-weight: 900;
      }
    }
  }
}

// SUBPAGE

#subpage-container {
  p {
    padding: 25px 0;
    text-align: justify;
  }
  figure {
    figcaption {
      font-size: 11px;
      padding: 10px 0;
      color: @blue;
      font-style: italic;
    }
    img {
      max-width: 100%;
      height: auto;
      margin:0;
    }
  }
  h2 {
    position: relative;
    padding-bottom: 10px;
    color: @blue;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: @blue;
    }
  }
  .date {
    padding-top: 0;
    font-style: italic;
    color: @blue;
  }
  h4 {
    color: @blue;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .author {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: @blue;
    font-style: italic;
    width: 50%;
    text-align: right;
    padding: 25px 0;
  }
  blockquote {
    position: relative;
    padding: 25px 0;
    border: none;
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    &:before, &:after {
      content: '"';
      font-size: 60px;
      position: absolute;
      top: -20px;
      left: -20px;
      color: @blue;
    }
    &:after {
      top: auto;
      left: auto;
      bottom: -50px;
      right: 0;
    }
  }
  .name {
    text-align: right;
    color: @blue;
  }
  .recommended-wrapper {
    .recommented-heading {
      color: @blue;
      text-transform: uppercase;
      font-size: 30px;
      position: relative;
      padding-bottom: 10px;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: @blue;
        font-weight: 900;
      }
    }
    .recommended-images-wrapper {
      margin-top: 25px;
      .item-small {
        overflow: hidden;
        position: relative;
        .transition(.4s);
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
        &:before {
          width: calc(~'100% - 30px');
          height: 100%;
          position: absolute;
          top: 0;
          left: 15px;
          background: @blue;
          opacity: 0.5;
          content: "";
          z-index: 2;
          border-radius: 20px;
          overflow: hidden;
        }
        .img-wrapper {
          overflow: hidden;
          border-radius: 20px;
          img {
            width: 100%;
            height: auto;
            margin: 0;
            .transition(.3s);
          }
        }
        &:hover {
          img {
            .scale(1.1);
            .transition(.3s);
          }
        }
      }
      .recommended-content {
        width: 100%;
        .top {
          position: absolute;
          left: 2%;
          padding: 0 20px;
          top: 5%;
          z-index: 3;
          width: 95%;
          .translate(0, -100px);
          .transition(.8s);
          .transition-delay(.3s);
          .date {
            color: #fff;
            font-style: normal;
            float: left;
          }
          .share-icon {
            font-size: 28px;
            float: right;
            color: #fff;
          }
        }
        .bottom {
          position: absolute;
          padding: 0 10px;
          bottom: 5%;
          left: 5%;
          z-index: 3;
          .translate(0, 250px);
          .transition(.8s);
          .transition-delay(.3s);
          .text {
            width: 85%;
            z-index: 3;
            left: 10%;
            color: #fff;
            .text-title {
              padding-top: 20px;
              font-size: 18px;
              color: #fff;
              @media screen and (max-width: 992px) {
                font-size: 16px;
              }
              &:hover {
                text-decoration: underline;
              }
            }
            .text-paragraph {
              padding-top: 5px;
              padding-bottom: 5px;
              font-size: 14px;
              line-height: 20px;
              color: #fff;
            }
          }
        }
      }
      &.active {
        .item-small {
          .scale(1);
          .top {
            .translate(0, 0);
          }
          .bottom {
            .translate(0, 0);
          }
        }
      }
    }
  }
}

#vip-container {
  .vip-video {
    overflow: hidden;
    .section-video {
      margin-bottom: 40px;
      position: relative;
      .video-square-1 {
        position: absolute;
        width: 15%;
        top: 8%;
        left: -11%;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .video-square-2 {
        position: absolute;
        width: 25%;
        top: 38%;
        left: -8%;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .video-square-3 {
        position: absolute;
        width: 42%;
        top: 25%;
        right: -22%;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .row-wrapper {
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: @grey;
    }
    h3 {
      text-transform: uppercase;
      color: @blue;
      text-align: center;
      @media screen and (width: 1280px) {
        font-size: 14px;
      }
    }
    .icon-wrapper {
      .inside {
        padding: 2px 15px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    p {
      padding-top: 25px;
      padding-bottom: 15px;
      text-align: left;
    }
    .button-wrapper {
      width: 80%;
      text-align: left;
      margin-bottom: 50px;
      @media screen and (width: 1280px) {
        width: 85%;
      }
    }
  }
    //}
  //}
}

#product-page {
  margin-top: 40px;
  .row-wrapper {
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: -5%;
      left: 0;
      background-color: #636363;
    }
    .slider {
      margin-top: 20px;
      img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        border: 1px solid @blue;
      }
    }
    .icon-wrapper {
      display: inline-block;
      .gradient-top-bottom;
      padding: 2px;
      .border-radius(22px);
      .inside {
        padding: 2px 30px;
        display: inline-block;
        background: #fff;
        border-radius: 20px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .product-info {
      .product-name {
        color: @blue;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: @blue;
          font-weight: 900;
        }
      }
      .product-description {
        padding-top: 15px;
      }
      .nav-pills {
        margin-top: 25px;
        li {
          border: 1px solid @blue;
          &:nth-child(even) {
            border-left: none;
            border-right: none;
          }
          a {
            border-radius: 0;
            text-transform: uppercase;
            padding: 5px 25px;
            color: @blue;
            @media screen and (max-width: 767px) {
              font-size: 12px;
              padding: 5px 10px;
              //border-right: 1px solid @blue;
            }
            @media screen and (width: 768px) {
              padding: 5px 6px;
            }
            @media screen and (width: 1024px) {
              padding: 5px 20px;
            }
          }
          &.active {
            a {
              color: #fff;
              background-color: @blue;
              text-transform: uppercase;
            }
          }
        }
      }
      .tab-content {
        margin-top: 25px;
        .tab-pane {
          .icons-wrapper {
            margin-top: 25px;
            .product-icon {
              &:not(:last-child) {
                border-right: 1px solid @blue;
                @media screen and (max-width: 768px) {
                  border-right: none;
                }
              }
              img {
                max-width: 50%;
                height: auto;
                display: block;
                margin: 0 auto;
              }
              p {
                font-weight: 700;
              }
            }
          }
          .attachment-wrapper {
            padding-left: 100px;
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Pictograms-nps-misc-pedestrian_crossing.svg/240px-Pictograms-nps-misc-pedestrian_crossing.svg.png') no-repeat left center;
            background-size: 60px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            p {
              padding-top: 10px;
              display: inline;
            }
            a {
              img {
                width: 30px;
                height: auto;
                padding-left: 10px;
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}


.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.nav-pills>li+li {
  margin-left: 0;
}


.company-container {
  padding: 120px 0 ;
  overflow: hidden;
  position: relative;
  p {
    line-height: 25px;
  }
  .main-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    .items {
      .item {
        margin-bottom: 40px;
        .info-heading {
          text-transform: uppercase;
          color: @blue;
          position: relative;
          &:after {
            content:"";
            display: block;
            width: 0;
            height:1px;
            background:@blue;
            position: absolute;
            top:auto;
            bottom: -15px;
            left:0;
          }
          &.active {
            &:after {
              width: 80px;
              .transition(.4s);
            }
          }
        }
        img {
          max-width: 100%;
          height: auto;
        }
        .info-heading {
          span {
            font-size: 14px;
          }
        }
        p {
          padding-top: 25px;
          &.bold-paragraph {
            font-weight: 700;
          }
        }
      }
      .text-wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: @blue;
          position: absolute;
          top: 0;
          bottom: auto;
          left: 0;
        }
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: @blue;
          position: absolute;
          top: auto;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}